@tailwind base;
@tailwind components;

@layer base {
  h1 {
    @apply text-2xl mb-2 mt-4 text-tbHeaderBlue;
    font-family: Inter,sans-serif;
  }
  h2 {
    @apply text-xl mt-4 text-tbHeaderBlue;
    font-family: Inter,sans-serif;
  }
  h3 {
    @apply text-lg;
  }
  p {
    @apply max-w-screen-md m-4;
    color: #3f4154;
  }
  li {
    @apply max-w-screen-md m-2;
    color: #3f4154;
  }
  a {
    @apply text-tbGreen;
    text-decoration: underline;
    cursor: pointer;
  }
  br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
  }
}

@tailwind utilities;

.grey-out {
  position: relative;
}

.grey-out::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.7); /* Adjust the color and opacity as needed */
  z-index: 2; /* Increase the z-index to bring the grey layer to the front */
}
