@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl mb-2 mt-4 text-tbHeaderBlue;
    font-family: Inter,sans-serif;
  }
  h2 {
    @apply text-xl mt-4 text-tbHeaderBlue;
    font-family: Inter,sans-serif;
  }
  h3 {
    @apply text-lg;
  }
  p {
    @apply max-w-screen-md m-4;
    color: #3f4154;
  }
  li {
    @apply max-w-screen-md m-2;
    color: #3f4154;
  }
  a {
    @apply text-tbGreen;
    text-decoration: underline;
    cursor: pointer;
  }
  br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
  }
}
